.dialog .dialog-buttons button {
    border: 1px solid #826657;
    background-color: #d6c9c2;
}

.roll-dialog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.roll-fields {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    align-items: center;
}

.roll-fields input {
    background-color: #e7e7e7;
    border-color: #826657;
    flex-basis: 35px;
    margin-bottom: 5px;
}
