.vaesen .monster .note .known {
    flex-basis: 100%;
}

.vaesen .monster .note .known textarea {
    height: 100px;
    resize: none;
}

.vaesen .monster .note .secret {
    flex-basis: 100%;
}

.vaesen .monster .note .secret textarea {
    height: 100px;
    resize: none;
}

.vaesen .monster .note .editor {
    padding: 0;
}

.vaesen .monster .note .editor-content {
    padding: 0 5px;
}

.vaesen .monster .note .editor,
.vaesen .monster .note .editor-content {
    width: 100%;
    height: 100%;
    min-height: 100px;
    max-height: 236px;
    background-color: #e7e7e7;
}
