@use "../abstracts" as *;

.journal-sheet{

    & form{
        background: white;

         & input[name="name"]{
            font-size: 1.5rem;
            height: 2rem;
            line-height: 2rem;
            background: none;
            color: $brown-700;
            border: none;
         }
    }

    & nav{
        background: url( ../asset/denim075.png) repeat;
        border-bottom: 1px solid $brown-200;
    }
}

.journal-entry-page{
    max-width: 55ch;
    margin: 0 auto;

    
& table tr:nth-child(odd) {
    background: #e6ded6;
    border-top: 1px solid #412017;
    border-bottom: none;
    border-left: none;
    border-right: none;
  }
  
 & table tr:nth-child(even) {
    background: #ffffff;
    border-top: 1px solid #412017;
    border-bottom: none;
    border-left: none;
    border-right: none;
  }
  
  
  & table td {
      border-left: none;
      border-right: none;
      font-family: IntervogueReg;
      font-style: normal;
      text-align: left;
      padding: 0.3em;
  }
  
  
  & th{
      padding: .3em;
      text-align: left;
      border-top: hidden;
      word-break: keep-all;
  }
  & table thead tr{
    background: #ffffff;
    border-top: hidden;
    border-bottom: none;
    border-left: none;
    border-right: none;
    font-family: IntervogueBlack;
    font-weight: 700;
    font-style: normal;
    color: #412017;
    text-shadow: none;
    font-size: .8em;
    text-transform: uppercase;
  }
}

.journal-entry-page ul {
	list-style: url('../asset/bullet.svg');
	margin: 2px;
	
}	


  

.info-box{
    width: 55ch; 
    margin: 0 auto;
}

a.content-link {
    color: $brown-700;
    text-decoration: none;
    background: none;
    padding: 0;
    white-space: nowrap;
    word-break: break-all;
    border : none;

    & i{
        color: $brown-700;
    }
}
