@import "./config.less";
@import "./common.less";


.vaesen {

    .player {

        .sheet-body {
        overflow: hidden;
        flex-grow: 1;
        height: 500px;
        }
        .name input{
            color: @primary-color;
        }
    }

    .monster {
        input[name="name"]{
            font-family: Albertus, serif;
            font-size: 1em;
            color: @primary-color;
            border-image-slice: 34% fill;
        }

        .title{
            border-image-slice: 34% fill;
        }
    }

    .npc{
        input[name="name"]{
            font-family: Albertus, serif;
            font-size: 1em;
            color: @primary-color;
            border-image-slice: 34% fill;
        }
        .title{
            border-image-slice: 34% fill;
        }
    }

    .headquarter{
        .name input{
            color: @primary-color;
        }
    }
}