.vaesen.item .armor .name {
    flex-basis: 80%;
}

.vaesen.item .armor .protection {
    flex-basis: 30%;
}

.vaesen.item .armor .agility {
    flex-basis: 30%;
}

.vaesen.item .armor .availability {
    flex-basis: 30%;
}

.vaesen .armors .armor{
	background: none;
	margin: 0px;
	padding: 0px;
}
.vaesen .player .armors .scrollable {
	height: fit-content;
}

.vaesen .player .armors .armor img.icon {
    border: 0;
	width: 25px;
	height: 25px;
}