#token-hud .status-effects .effect-control { 
	height: 40px;
	width: 40px;
}

#token-hud .status-effects { 
	top: 37%; 
	width: 160px; 
	grid-template-columns: 40px 40px 40px 40px;
}

.vaesen .fit-height{
    height: fit-content;
}

.vaesen .item-desc{
    text-align: justify;
    font-size: .8em;

}

.vaesen .heavy-border {
    border: 2px solid #412017;
    margin: 4px;
	padding: 3px;
}

.vaesen .light-border {
    border: 1px dashed #826657;
}

.vaesen .name{
    text-align: center;
}

.vaesen .flex {
    display: flex;
}

.vaesen .row {
    flex-direction: row;
}

.vaesen .column {
    flex-direction: column;
}

.vaesen .full {
    width: 100%;
    height: 100%;
}

.vaesen .wrap {
    flex-wrap: wrap;
}

.vaesen .center {
    text-align: center;
 
    
}

.vaesen .margin {
    margin: 5px;
}

.vaesen .wrapper {
    margin-bottom: 5px;
}

.vaesen .wrapper:last-child {
    margin-bottom: 0px;
}

.vaesen .grow {
    flex-grow: 1;
}

.vaesen .align-center {
    align-items: center;
}

.vaesen .align-end {
    align-items: flex-end;
}

.vaesen .space-around {
    justify-content: space-around;
}

.vaesen .space-between {
    justify-content: space-between;
}

.vaesen .title {
    padding: 5px;
    text-align: center;
    background-color: #ad9385;
    margin: 3px;
}

.vaesen .tabs .item.active{
	text-shadow: none;
	border-bottom: 1px solid #412017;
	color: #412017;
	
}

.vaesen .tabs .item{
	text-shadow: none;
	border-bottom: 1px solid #af9c8d;
	color: #af9c8d;
    
	
}

.vaesen .left-block{
    width: 60%;
}
.vaesen .right-block{
    width: 40%;
}

.vaesen .tab {
    width: 100%;
}

.vaesen .sheet-body {
    overflow: hidden;
    flex-grow: 1;
}

.vaesen .sheet-tabs {
    padding: 5px;
    background-color: transparent;
	margin-bottom: 0px;
    margin-top: 5px;
   
}

.vaesen .sheet-tabs b:hover {
    text-shadow: 0 0 10px darkolivegreen;
}

.vaesen .hqtr-data{
    min-width: 645px;

}
.vaesen input {
    background-color: #e7e7e7;
    border-color: #826657;
}

.vaesen .attribute input{
    text-align: center;
    margin-left: 5px;
}

.vaesen textarea {
    background-color: #e7e7e7;
    border-color: #826657;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.vaesen select {
    background-color: #e7e7e7;
    border-color: #826657;
}

.dialog{
    width: fit-content;
}

.dialog .dialog-buttons button,
.dialog .dialog-buttons button.default {
    border: 1px solid #826657;
    background-color: #e7e7e7;
}


.vaesen .second{
    flex-grow: 1;
	align-content: center;
}

.vaesen .logo img{
	border: none;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.vaesen .logo {
	flex-basis: 90%;
	
}

.vaesen .bio{
	flex-basis: 80%;
	margin-bottom: 2px;
}

.motivation, .trauma, .dark-secret, .advantage, .memento{
	width: 100%;
}
.vaesen .res{
	flex-basis: 20%;
	margin-bottom: 2px;
}

.chat-message .message-header .flavor-text, .chat-message .message-header .whisper-to {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;

}

.flex-end{
    align-items: flex-end;
}

.flex-start{
    align-items: flex-start;
}


.vaesen p{
    margin: 0px;
}