
/******************************
/        Fonts
******************************/
@font-face{
    font-family: Eccentric;
    src:url(../fonts/EccentricStd.otf);
}

@font-face{
	font-family: BethEllen;
	src: url(../fonts/BethEllen-Regular.ttf);
}

@font-face{
	font-family: Albertus;
	src: url(../fonts/AlbertusMediumRegular.ttf);
}

@font-face{
	font-family: Baskerville;
	src: url(../fonts/LibreBaskerville-Regular.ttf);
}

@font-face{
	font-family: Lin;
	src: url(../fonts/LinLibertine_R.ttf);
}

@font-face{
	font-family: IntervogueBlack;
	src: url(../fonts/Intervogue_Black.otf);
}

@font-face{
	font-family: IntervogueReg;
	src: url(../fonts/Intervogue_Reg.otf);
}

@font-face{
	font-family: PicaItalic;
	src: url(../fonts/IMFellDoublePica-Italic.ttf);
}
@font-face{
	font-family: Pica;
	src: url(../fonts/IMFellDoublePica-Regular.ttf);
}


#token-hud .status-effects .effect-control { 
	height: 40px;
	width: 40px;
}

#token-hud .status-effects { 
	top: 37%;  
	grid-template-columns: 40px 40px 40px 40px;
}

.vaesen .fit-height{
    height: fit-content;
}

.vaesen .item-desc{
    text-align: justify;
    font-size: .8em;
    justify-content: space-between;

}

.vaesen .portrait{
    margin-bottom: 0px;
}

.vaesen .light-border {
    border: 1px dashed #826657;
}

.vaesen .name{
    text-align: center;
}

.vaesen .flex {
    display: flex;
}

.vaesen .row {
    flex-direction: row;
}

.vaesen .column {
    flex-direction: column;
}

.vaesen .full {
    width: 100%;
    height: 100%;
}

.vaesen .wrap {
    flex-wrap: wrap;
}

.vaesen .center {
    text-align: center;
 
    
}

.vaesen .margin {
    margin: 5px;
}

.vaesen .wrapper {
    margin-bottom: 5px;
}

.vaesen .wrapper:last-child {
    margin-bottom: 0px;
}

.vaesen .grow {
    flex-grow: 1;
}

.vaesen .align-center {
    align-items: center;
}

.vaesen .align-end {
    align-items: flex-end;
}

.vaesen .space-around {
    justify-content: space-around;
}

.vaesen .space-between {
    justify-content: space-between;
}



.vaesen .tabs .item.active{
	text-shadow: none;
	border-bottom: 1px solid #412017;
	color: #412017;
	
}

.vaesen .tabs .item{
	text-shadow: none;
	border-bottom: 1px solid #af9c8d;
	color: #af9c8d;
    
	
}

.vaesen .left-block{
    width: 60%;
}
.vaesen .right-block{
    width: 40%;
}

.vaesen .tab {
    width: 100%;
}

.vaesen .sheet-body {
    overflow: hidden;
    flex-grow: 1;
    
}

.vaesen .sheet-tabs {
    padding: 5px;
    background-color: transparent;
	margin-bottom: 0px;
    margin-top: 5px;
   
}

.vaesen .sheet-tabs b:hover {
    text-shadow: 0 0 10px darkolivegreen;
}

.vaesen .hqtr-data{
    min-width: 645px;

}
.vaesen input {
    background-color: #e7e7e7;
    border-color: #826657;
}

.vaesen .npc .attribute input,
.vaesen .player .attribute input{
    text-align: center;
    flex-basis: 66px;
    margin-left: 0px;
    margin-right: 5px;
}
.vaesen .attribute input{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}


.vaesen textarea {
    background-color: #e7e7e7;
    border-color: #846758;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.vaesen select {
    background-color: #e7e7e7;
    border-color: hsl(21, 20%, 43%);
}

.vaesen select[multiple] option:checked, .vaesen select[multiple]:focus option:checked {
    background-color: #b5b3a4;
}

.dialog{
    width: fit-content;
}

.dialog .dialog-buttons button,
.dialog .dialog-buttons button.default {
    border: 1px solid #826657;
    background-color: #e7e7e7;
}


.vaesen .second{
    flex-grow: 1;
	align-content: center;
}

.vaesen .logo img{
	border: none;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.vaesen .logo {
	flex-basis: 90%;
	
}

.vaesen .bio{
	flex-basis: 80%;
	margin-bottom: 3px;
}

.motivation, .trauma, .dark-secret, .advantage, .memento{
	width: 100%;
}
.vaesen .res{
	flex-basis: 20%;
	margin-bottom: 3px;
}

.chat-message .message-header .flavor-text, .chat-message .message-header .whisper-to {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;

}

.flex-end{
    align-items: flex-end;
}

.flex-start{
    align-items: flex-start;
}


.vaesen p{
    margin: 0px;
    padding-bottom: 4px;
}

.vaesen.roll-dialog p{
    margin: 7px 0px;
    padding-bottom: 0px;
}


.vaesen .dice-roll .dice-formula {
    border: none;
    border-bottom: 1px solid #412017;
    background: transparent;
    border-radius: 0px;
}

.vaesen .dice-total{
    font-family: Baskerville, sans-serif;
    text-transform: uppercase;
    font-size: .9em;
}
.vaesen .dice-total.success {
    background: hsl(76, 32%, 73%);
    color: #344117;

}

.vaesen .dice-total.failure{
    background: hsl(27, 32%, 73%);
    color: #411717;

}

.vaesen .dice-roll .dice-flavor{
    text-align: center;
    font-family: Baskerville, serif;
    font-size: 1em;
    font-weight: bolder;
    color: #412017;
    text-transform: uppercase;
}


.vaesen .dice-infos{
    text-align: center;
    font-size: 1em;
    font-family: 'Albertus';
    color: #412017;
}

.vaesen .dice-button{
    font-family: Baskerfille, serif;
    margin-top: 3px;
    color: #412017;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="time"]:focus {
  box-shadow: 0 0 5px hsl(82, 39%, 30%);
}

a:hover{
    text-shadow: 0 0 8px darkolivegreen;
}
button:hover,
button:focus{
    box-shadow: 0 0 5px #412017;
}

.borderimg { 
    border: 35px solid transparent;
    padding: 0px;
    border-image: url(../asset/bq_border.png) 60 stretch;
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
      page-break-inside: avoid; /* Firefox */
      break-inside: avoid; /* IE 10+ */
  }

  /****** Foundry Overrides ******/

.app{
    background: url(../asset/denim075.png) repeat;
}
body { 

font-family: Baskerville, serif;
font-size: 14px;
}

.window-app .window-content {
background: white;
color: #412017;
padding: 4px;
}

h1,
h2,
h3,
h4 {
font-family: Albertus, serif;
border-bottom: none;
margin: 0 0 3px;
}




.chat-message .message-header .message-metadata {
    flex: 1;
    text-align: right;
    font-size: 12px;
  }

  .chat-message .message-header .flavor-text {
    padding-left: 50px;
    line-height: 10px;
    font-size: .8em;
    font-weight: bold;
  }

  .chat-message .message-header .message-sender {
    flex: 1;
    padding-left: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

.chat-message .message-header{
color: #412017;
line-height: 40px !important;
}

.chat-message .message-content .roll-token{
    border: none;
    position: absolute;
    z-index: 999;
    border-radius: 50%;
    margin-left: 0;
    margin-top: -45px;
    box-shadow: 2px 2px 8px #412017;
    background: #41201788;

}

.chat-message .center{
    text-align: center;
}

.chat-message .table-draw .table-results .table-result .result-text {
text-align: justify;
}

.chat-message .table-draw .table-results .table-result img.result-image {
flex: 0 0 48px;
width: 48px;
height: 48px;
margin-right: 8px;
object-fit: cover;
border: none;
}

.checkbox-label {
    display: block;
    position: relative;
    margin: auto;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    width: 24px;
    clear: both;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 2px;
    left: 0px;
    height: 20px;
    width: 20px;
    background-color: #41201744;
    border-radius: 2px;
  	transition: all 0.3s ease-out;
  	-webkit-transition: all 0.3s ease-out;
  	-moz-transition: all 0.3s ease-out;
  	-ms-transition: all 0.3s ease-out;
  	-o-transition: all 0.3s ease-out;
    border: 2px solid #41201788;
}


.checkbox-label input:checked ~ .checkbox-custom {
    background-color: #41201788;
    border-radius: 2px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 2px solid #41201788;
}


.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 2px;
    border: solid #009BFF;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
  	transition: all 0.3s ease-out;
  	-webkit-transition: all 0.3s ease-out;
  	-moz-transition: all 0.3s ease-out;
  	-ms-transition: all 0.3s ease-out;
  	-o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 5px;
  top: 0px;
  width: 6px;
  height: 12px;
  border: solid #FFFFFF;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}


.vaesen .player .header .name input,
.vaesen .headquarter .header .name input{ 
	font-family: Albertus, sans-serif;
	font-size: 1em;
	padding: 0px;
	border: 8px solid transparent;
	border-image: url(../asset/scooped_corners.svg) stretch;
	border-image-slice: 58 fill;
	filter: drop-shadow(2px 2px hsl(13, 48%, 17%));
    
	margin-left: 1px;
	margin-right: 3px;
	flex-basis: 30%;
	margin-bottom: 3px;
	text-align: center;
	height: 2.5em;
  
}


.vaesen .player,
.vaesen .headquarter,
.vaesen .dialog, 
.vaesen .item-sheet 
{
	background: #f9f8f6;
	margin: -10px;
	margin-right: 0px;
	padding: 8px;
}

.vaesen input{
	font-family: Lin, sans-serif;
	border: 8px solid transparent;
	border-image: url(../asset/scooped_corners.svg) stretch;
	border-image-slice: 58 fill;
	background-color: transparent;
	margin-top: 3px;
    filter: drop-shadow(2px 2px hsl(13, 48%, 17%));
    height: 2rem;
}

.vaesen .left-block input {
    height: var(--form-field-height);
}

.vaesen .player .header input,
.vaesen .headquarter .header input{
	font-family: Lin, sans-serif;
	border: 8px solid transparent;
	border-image: url(../asset/scooped_corners.svg) stretch;
	border-image-slice: 35% fill;
	background-color: transparent;
	margin-top: 3px;
    filter: drop-shadow(2px 2px hsl(13, 48%, 17%));
}

.vaesen .attribute{
    justify-content: space-between;
}

.vaesen .attribute b.header:hover{
    cursor: pointer;
    text-shadow: 0 0 10px #412017;
    
}

.item-info{
    flex-basis: 70%;
}

.item-info img{
    border: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
.item-sidebar{
   
	background: #f1efec;
	
	border: 10px solid transparent;
	padding: 0px;
	margin: 10px;
	border-image: url(../asset/ft_border.png) 15 stretch;
	color: #412017;
	font-family: Lin;
	font-size: 0.8em;
	font-weight: 400;
	text-align: justify;
	line-height: 1.5em;
	 -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
	
}


.item-sidebar .icon{
    border: 1px dashed #412017;
    border-radius: 5px;
    width: 100%;
}
