.vaesen.item .condition .icon {
    border: 1px dashed #826657;
    border-radius: 10px;
    margin-right: 5px;
}

.vaesen.item .condition .name {
    flex-basis: 50%;
}

.vaesen.item .condition .bonus {
    flex-basis: 35%;
}

.vaesen.item .condition .description {
    flex-basis: 100%;
}

.vaesen.item .condition .description textarea {
    height: 187px;
    resize: none;
}