.vaesen .player .gears .scrollable {
	height: fit-content;
}

.vaesen .player .gears .gear img.icon{
	border: 0;
	width: 25px;
	height: 25px;
}


.vaesen.item .gear .name {
    flex-basis: 85%;
}

.vaesen.item .gear .bonus {
    flex-basis: 50%;
}

.vaesen.item .gear .availability {
    flex-basis: 50%;
}

.vaesen.item .gear .effect {
    flex-basis: 100%;
}

.vaesen.item .gear .description {
    flex-basis: 100%;
}

.vaesen.item .gear .description textarea {
    height: 187px;
    resize: none;
}

.vaesen.item .gear .risk {
    flex-basis: 100%;
}

.vaesen.item .gear .risk textarea {
    height: 187px;
    resize: none;
}