.vaesen .headquarter {
    height: 100%;
    width: 100%;
}

.vaesen .headquarter .header .img-frame{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 175px;
	min-height: 175px;
	
}

.vaesen .headquarter .header .profile-frame{
	position: absolute;
	z-index: 1;
	border: none;
}
.vaesen .headquarter .header .profile-img{
	position: absolute;
	border: 1px transparent;
	margin-top: 5px;
	border-radius: 50%;
	z-index: 2;
	padding: 15px;
    height: 175px;
    width: 175px;
	
}
.vaesen .headquarter .second{
	width: 100%;
	
}

.vaesen .headquarter .upgrades .upgrade .name{
    flex-basis: 95px;
}

.vaesen .headquarter .facilities,
.vaesen .headquarter .personnel,
.vaesen .headquarter .contacts
 {
    flex-basis: 33%;
}

.vaesen .headquarter .header .name {
    flex-basis: 50%;
}

.vaesen .headquarter .header .point {
    flex-basis: 27%;
}

.vaesen .headquarter .header .point input {
    text-align: center;
}

.vaesen .headquarter .header .building {
    flex-basis: 50%
}

.vaesen .headquarter .header .location {
    flex-basis: 50%
}

.vaesen .flex.headquarter {
    width: auto;
	background: none;
	margin: -10px;
}
.vaesen .flex.headquarter b ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.vaesen .headquarter .skills .skill {
    justify-content: space-between;
}