/******************************
/        Fonts
******************************/
@font-face {
  font-family: Eccentric;
  src: url(/systems/vaesen/fonts/EccentricStd.otf);
}
@font-face {
  font-family: BethEllen;
  src: url(/systems/vaesen/fonts/BethEllen-Regular.ttf);
}
@font-face {
  font-family: Albertus;
  src: url(/systems/vaesen/fonts/AlbertusMediumRegular.ttf);
}
@font-face {
  font-family: Baskerville;
  src: url(/systems/vaesen/fonts/LibreBaskerville-Regular.ttf);
}
@font-face {
  font-family: Lin;
  src: url(/systems/vaesen/fonts/LinLibertine_R.ttf);
}
@font-face {
  font-family: IntervogueBlack;
  src: url(/systems/vaesen/fonts/Intervogue_Black.otf);
}
@font-face {
  font-family: IntervogueReg;
  src: url(/systems/vaesen/fonts/Intervogue_Reg.otf);
}
@font-face {
  font-family: PicaItalic;
  src: url(/systems/vaesen/fonts/IMFellDoublePica-Italic.ttf);
}
@font-face {
  font-family: Pica;
  src: url(/systems/vaesen/fonts/IMFellDoublePica-Regular.ttf);
}
/* media query mixin */
h1, h2, h3, h4 {
  font-family: Albertus, serif;
  border-bottom: none;
  margin: 0 0 3px;
}

h1 {
  font-size: var(--fs-500);
}

h2 {
  font-size: var(--fs-400);
}

h3 {
  font-size: var(--fs-300);
}

h4 {
  font-size: var(--fs-200);
}

.color-brown-700 {
  color: hsl(13deg, 48%, 17%);
}

.title-case {
  text-transform: capitalize;
}

:root {
  --fs-200: 0.7rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.5rem;
  --fs-600: 1.9rem;
  --fs-700: 3rem;
  --fs-800: 4rem;
  --bp-small: 40em;
  --bp-medium: 55em;
  --bp-large: 100em;
}
@media only screen and (min-width: 40em) {
  :root {
    --fs-200: 0.9rem;
    --fs-300: 1rem;
    --fs-400: 1.4rem;
    --fs-500: 2rem;
    --fs-600: 3rem;
    --fs-700: 4rem;
    --fs-800: 5.5rem;
  }
}

.window-app .window-content {
  color: hsl(13deg, 48%, 17%);
  background-color: hsl(40deg, 20%, 97%);
}

.bg-offwhite {
  background-color: hsl(40deg, 20%, 97%);
}

.dl-border {
  border: 10px solid transparent;
  -o-border-image: url(/systems/vaesen/asset/ft_border.png) 15 round;
     border-image: url(/systems/vaesen/asset/ft_border.png) 15 round;
}

.border-none {
  border: none;
}

.br-5 {
  border-radius: 5px;
}

input.light {
  border: 7px solid transparent;
  -o-border-image: url(/systems/vaesen/asset/scooped_corners.svg) round;
     border-image: url(/systems/vaesen/asset/scooped_corners.svg) round;
  border-image-slice: 58 fill;
  margin-block: 3px;
  filter: drop-shadow(2px 2px hsl(13deg, 48%, 17%));
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.align-items-center {
  align-items: center;
}

.grid {
  display: grid;
}

.grid-2col-fr {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3col-fr {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4col-fr {
  grid-template-columns: repeat(4, 1fr);
}

.grid-6col-fr {
  grid-template-columns: repeat(6, 1fr);
}

.grid-span-2 {
  grid-column: span 2;
}

.grid-span-3 {
  grid-column: span 3;
}

.grid-span-4 {
  grid-column: span 4;
}

.grid-span-6 {
  grid-column: span 6;
}

.grid-align-end {
  align-self: end;
}

.block {
  display: block;
}

.w-fc {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.w-100 {
  width: 100%;
}

.w-90 {
  width: 90%;
}

.w-25 {
  width: 25%;
}

.w-100p {
  width: 100px;
}

.h-100 {
  height: 100%;
}

.center {
  margin: 0 auto;
}

.padding-sm {
  padding: 0.25rem;
}

.margin-b-sm {
  margin-bottom: 0.25rem;
}

.gap-sm {
  gap: 0.25rem;
}

.journal-sheet form {
  background: var(--white);
}
.journal-sheet form input[name=name] {
  font-size: 1.5rem;
  height: 2rem;
  line-height: 2rem;
  background: none;
  color: var(--brown-700);
  border: none;
}
.journal-sheet nav {
  background: url(/systems/vaesen/asset/denim075.png) repeat;
  border-bottom: 1px solid var(--brown-200);
}/*# sourceMappingURL=index.css.map */