/******************************
/        Fonts
******************************/
@font-face {
  font-family: Eccentric;
  src: url(../fonts/EccentricStd.otf);
}
@font-face {
  font-family: BethEllen;
  src: url(../fonts/BethEllen-Regular.ttf);
}
@font-face {
  font-family: Albertus;
  src: url(../fonts/AlbertusMediumRegular.ttf);
}
@font-face {
  font-family: Baskerville;
  src: url(../fonts/LibreBaskerville-Regular.ttf);
}
@font-face {
  font-family: Lin;
  src: url(../fonts/LinLibertine_R.ttf);
}
@font-face {
  font-family: IntervogueBlack;
  src: url(../fonts/Intervogue_Black.otf);
}
@font-face {
  font-family: IntervogueReg;
  src: url(../fonts/Intervogue_Reg.otf);
}
@font-face {
  font-family: PicaItalic;
  src: url(../fonts/IMFellDoublePica-Italic.ttf);
}
@font-face {
  font-family: Pica;
  src: url(../fonts/IMFellDoublePica-Regular.ttf);
}
/* media query mixin */
.editor-content h1, .journal-entry-content h1 {
  font-family: Albertus;
  font-size: 3em;
  text-align: center;
  color: #412017;
  border-bottom: none;
}

.editor-content h2, .journal-entry-content h2 {
  font-family: Eccentric;
  font-size: 2.5em;
  text-align: center;
  color: #412017;
  font-weight: 700;
  border-bottom: none;
}

.editor-content h3, .journal-entry-content h3 {
  font-family: Lin;
  font-size: 1em;
  text-transform: uppercase;
  color: #412017;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}

.editor-content h4, .journal-entry-content h4 {
  font-family: Lin;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #412017;
  font-weight: 800;
  text-align: center;
  margin-top: 5px;
  letter-spacing: 2px;
}

.journal-entry-content .caption {
  font-family: BethEllen, cursive;
  font-size: 0.8em;
  text-align: center;
}

h1, h2, h3, h4 {
  font-family: Albertus, serif;
  border-bottom: none;
  margin: 0 0 3px;
}

h1 {
  font-size: var(--fs-500);
}

h2 {
  font-size: var(--fs-400);
}

h3 {
  font-size: var(--fs-300);
}

h4 {
  font-size: var(--fs-200);
}

.color-brown-700 {
  color: hsl(13, 47%, 17%);
}

.title-case {
  text-transform: capitalize;
}

.title {
  text-align: center;
}

.list-item:nth-child(odd) {
  background-color: hsl(21, 20%, 60%);
}

:root {
  --fs-200: 0.7rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.5rem;
  --fs-600: 1.9rem;
  --fs-700: 3rem;
  --fs-800: 4rem;
  --bp-small: 40em;
  --bp-medium: 55em;
  --bp-large: 100em;
  scrollbar-color: hsl(21, 20%, 43%) hsl(40, 20%, 80%);
}
@media only screen and (min-width: 40em) {
  :root {
    --fs-200: 0.9rem;
    --fs-300: 1rem;
    --fs-400: 1.4rem;
    --fs-500: 2rem;
    --fs-600: 3rem;
    --fs-700: 4rem;
    --fs-800: 5.5rem;
  }
}

.window-app .window-content {
  color: hsl(13, 47%, 17%);
  background-color: hsl(40, 20%, 80%);
}

.bg-offwhite {
  background-color: hsl(40, 20%, 80%);
}

.bg-brown-100 {
  background-color: hsl(0, 0%, 91%);
}

.bg-brown-200 {
  background-color: hsl(21, 20%, 60%);
}

.title.dark {
  border: 7px solid transparent;
  -o-border-image: url(../asset/scooped_corners_dark.svg) stretch;
     border-image: url(../asset/scooped_corners_dark.svg) stretch;
  border-image-slice: 58 fill;
  margin-block: 3px;
  filter: drop-shadow(2px 2px hsl(13, 47%, 17%));
}

.fancy-border {
  border: 30px solid transparent;
  -o-border-image: url(../asset/bq_border.png) 35 stretch;
     border-image: url(../asset/bq_border.png) 35 stretch;
}

.heavy-border {
  border: 2px solid hsl(21, 20%, 43%);
}

.dl-border {
  border: 10px solid transparent;
  -o-border-image: url(../asset/ft_border.png) 15 stretch;
     border-image: url(../asset/ft_border.png) 15 stretch;
}

.border-none {
  border: none;
}

.br-5 {
  border-radius: 5px;
}

.vaesen .title {
  border: 7px solid transparent;
  padding: 0px;
  -o-border-image: url(../asset/scooped_corners_dark.svg) stretch;
     border-image: url(../asset/scooped_corners_dark.svg) stretch;
  border-image-slice: 58 fill;
  background-color: transparent;
  margin: 3px;
  filter: drop-shadow(2px 2px hsl(13, 47%, 17%));
}

input.light {
  border: 7px solid transparent;
  -o-border-image: url(../asset/scooped_corners.svg) stretch;
     border-image: url(../asset/scooped_corners.svg) stretch;
  border-image-slice: 58 fill;
  margin-block: 3px;
  filter: drop-shadow(2px 2px hsl(13, 47%, 17%));
}

input.dark {
  border: 7px solid transparent;
  -o-border-image: url(../asset/scooped_corners_dark.svg) stretch;
     border-image: url(../asset/scooped_corners_dark.svg) stretch;
  border-image-slice: 58 fill;
  margin-block: 3px;
  filter: drop-shadow(2px 2px hsl(13, 47%, 17%));
}

.icon {
  border: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.align-items-center {
  align-items: center;
}

.grid {
  display: grid;
}

.grid-conditions {
  grid-template-columns: 25px auto 75px 55px;
}

.grid-2col-300px-1fr {
  grid-template-columns: 300px 1fr;
}

.grid-2col-250px-1fr {
  grid-template-columns: 250px 1fr;
}

.grid-2col-fr {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3col-fr {
  grid-template-columns: repeat(3, 1fr);
}

.grid-auto-2col-fr {
  grid-template-columns: auto repeat(2, 1fr);
}

.grid-30px-2col-fr {
  grid-template-columns: 30px repeat(2, 1fr);
}

.grid-30px-1fr-auto {
  grid-template-columns: 30px 1fr auto;
}

.grid-4col-fr {
  grid-template-columns: repeat(4, 1fr);
}

.grid-5col-fr {
  grid-template-columns: repeat(5, 1fr);
}

.grid-6col-fr {
  grid-template-columns: repeat(6, 1fr);
}

.grid-7col-fr {
  grid-template-columns: repeat(7, 1fr);
}

.grid-8col-fr {
  grid-template-columns: repeat(8, 1fr);
}

.grid-span-2 {
  grid-column: span 2;
}

.grid-span-3 {
  grid-column: span 3;
}

.grid-span-4 {
  grid-column: span 4;
}

.grid-span-6 {
  grid-column: span 6;
}

.grid-align-end {
  align-self: end;
}

.span-2 {
  grid-column: span 2;
}

.block {
  display: block;
}

.w-fc {
  width: -moz-fit-content;
  width: fit-content;
}

.w-100 {
  width: 100%;
}

.w-90 {
  width: 90%;
}

.w-25 {
  width: 25%;
}

.w-100p {
  width: 100px;
}

.h-100 {
  height: 100%;
}

.w-25p {
  width: 25px;
}

.center {
  margin: 0 auto;
}

.min-w-600 {
  min-width: 600px;
}

.min-h-500 {
  min-height: 500px;
}

.content {
  max-width: 65ch;
}

.gap {
  gap: 0.5rem;
}

.gap-sm {
  gap: 0.25rem;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.pi-1 {
  padding-inline: 0.25rem;
}

.pi-2 {
  padding-inline: 0.5rem;
}

.pi-3 {
  padding-inline: 0.75rem;
}

.pbk-1 {
  padding-block: 0.25rem;
}

.padding-sm {
  padding: 0.25rem;
}

.margin-b-sm {
  margin-bottom: 0.25rem;
}

.margin-b-lg {
  margin-bottom: 1rem !important;
}

.gap-sm {
  gap: 0.25rem;
}

.journal-sheet form {
  background: white;
}
.journal-sheet form input[name=name] {
  font-size: 1.5rem;
  height: 2rem;
  line-height: 2rem;
  background: none;
  color: hsl(13, 47%, 17%);
  border: none;
}
.journal-sheet nav {
  background: url(../asset/denim075.png) repeat;
  border-bottom: 1px solid hsl(21, 20%, 60%);
}

.journal-entry-page {
  max-width: 55ch;
  margin: 0 auto;
}
.journal-entry-page table tr:nth-child(odd) {
  background: #e6ded6;
  border-top: 1px solid #412017;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.journal-entry-page table tr:nth-child(even) {
  background: #ffffff;
  border-top: 1px solid #412017;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.journal-entry-page table td {
  border-left: none;
  border-right: none;
  font-family: IntervogueReg;
  font-style: normal;
  text-align: left;
  padding: 0.3em;
}
.journal-entry-page th {
  padding: 0.3em;
  text-align: left;
  border-top: hidden;
  word-break: keep-all;
}
.journal-entry-page table thead tr {
  background: #ffffff;
  border-top: hidden;
  border-bottom: none;
  border-left: none;
  border-right: none;
  font-family: IntervogueBlack;
  font-weight: 700;
  font-style: normal;
  color: #412017;
  text-shadow: none;
  font-size: 0.8em;
  text-transform: uppercase;
}

.journal-entry-page ul {
  list-style: url("../asset/bullet.svg");
  margin: 2px;
}

.info-box {
  width: 55ch;
  margin: 0 auto;
}

a.content-link {
  color: hsl(13, 47%, 17%);
  text-decoration: none;
  background: none;
  padding: 0;
  white-space: nowrap;
  word-break: break-all;
  border: none;
}
a.content-link i {
  color: hsl(13, 47%, 17%);
}

.icon-img {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 0;
}

.roll-fear {
  cursor: pointer;
}

ol.dice-rolls li {
  list-style-type: unset !important;
}

.dice-roll {
  flex-direction: column;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=index.css.map */