.vaesen.item .magic .icon {
    border: 1px dashed #826657;
    border-radius: 10px;
    margin-right: 5px;
}

.vaesen.item .magic .name {
    flex-basis: 51%;
}

.vaesen.item .magic .category {
    flex-basis: 33%;
}

.vaesen.item .magic .description {
    flex-basis: 100%;
}

.vaesen.item .magic .description textarea {
    height: 187px;
    resize: none;
}