.vaesen .npc {
    height: 100%;
    width: 100%;
}

.vaesen .npc .right{
    flex-basis: 35%;
}

.vaesen .npc .armors .heading,
.vaesen .npc .weapons .heading,
.vaesen .npc .gears .heading{
    font-size: .8em;
}
.vaesen .npc .left{
    flex-basis: 65%;
}
.vaesen .npc .header .profile-img {
    border: none;
    border-radius: 10px;
    align-self: center;
}

.vaesen .npc .header .name {
    margin-bottom: 5px;
}

.vaesen .npc .header .physical {
    margin-bottom: 5px;
}

.vaesen .npc .header .physical input {
    flex-basis: 25%;
}

.vaesen .npc .header .mental {
    margin-bottom: 5px;
}

.vaesen .npc .header .mental input {
    flex-basis: 25%;
}