
.vaesen.item .talent .name {
    flex-basis: 85%;
}

.vaesen.item .talent .description {
    flex-basis: 100%;
}

.vaesen.item .talent .description textarea {
    height: 187px;
    resize: none;
}

.vaesen .player .talents .scrollable {
	height: fit-content;
}

.vaesen .player .talents .talent img.icon{
	border: 0;
	width: 25px;
	height: 25px;
}