
@import "colors.scss";

/* Composition */

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.full {
    width: 100%;
    height: 100vh;
}

.wrap {
    flex-wrap: wrap;
}

.center {
    text-align: center;   
}

.margin-tight {
    margin: .55rem;
}

.margin-wide{
    margin: 1rem;
}

.wrapper {
    margin-bottom: 5px;
}

.wrapper:last-child {
    margin-bottom: 0px;
}

.grow {
    flex-grow: 1;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.title {
    padding: 5px;
    text-align: center;
    background-color: $main_color_3;
    margin: 3px;
}
.left-block{
    width: 60%;
}
.right-block{
    width: 40%;
}
.tab {
    width: 100%;
}



.vaesen  {
    .heavy-border{
    border: 2px solid $main_color_1;
    margin: 4px;
	padding: 3px;
    }

    .portrait{
        margin-bottom: 0px;
    }


    .light-border {
        border: 1px dashed $main_color_2;
    }

    .name{
        text-align: center;
    }

 
}