

.vaesen.item .weapon .name {
    flex-basis: 51%;
}

.vaesen.item .weapon .skill {
    flex-basis: 33%;
}

.vaesen.item .weapon .damage {
    flex-basis: 25%;
}

.vaesen.item .weapon .range {
    flex-basis: 25%;
}

.vaesen.item .weapon .bonus {
    flex-basis: 25%;
}

.vaesen.item .weapon .availability {
    flex-basis: 25%;
}


.vaesen .player .weapons .scrollable {
	height: fit-content;
}

.vaesen .player .weapons .weapon .icon {
    border: 0;
	width: 25px;
	height: 25px;
}

