<div class="flex-col w-100 min-w-600">
  <div class="flex-col heavy-border margin-b-sm padding-sm min-h-500">
    <b class="title dark" style="width: 100%; margin-left: 0px;">{{localize "CHANGELOG.HEADER"}}</b>
    <div class="scrollable">
        <ul>
        {{#each system.changelog as |item|}}
            <li>{{{item}}}</li>
        {{/each}}
        </ul>
    </div>
  </div>
</div>