<div class="flex-col w-100 min-w-600">
    <div class="flex-col heavy-border margin-b-sm padding-sm min-h-500">
        <b class="title dark" style="width: 100%; margin-left: 0px;" >{{localize "HEADER.HISTORY"}}</b>
        <div class="content min-h-500">
        {{editor noteHTML target="system.note" button=true owner=owner editable=editable engine="prosemirror" collaborate=false }}
        </div>
    </div>
</div>