
.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-nowrap{
    flex-wrap: nowrap;
}

.align-items-center{
    align-items: center;
}

.grid{
    display: grid;
}

.grid-conditions{
    grid-template-columns: 25px auto 75px 55px;
}

.grid-2col-300px-1fr{
    grid-template-columns: 300px 1fr;
}

.grid-2col-250px-1fr{
    grid-template-columns: 250px 1fr;
}

.grid-2col-fr{
    grid-template-columns: repeat(2, 1fr);
}

.grid-3col-fr{
    grid-template-columns: repeat(3, 1fr);
}

.grid-auto-2col-fr{
    grid-template-columns: auto repeat(2, 1fr);
}


.grid-30px-2col-fr{
    grid-template-columns: 30px repeat(2, 1fr);
}

.grid-30px-1fr-auto{
    grid-template-columns: 30px 1fr auto;
}

.grid-4col-fr{
    grid-template-columns: repeat(4, 1fr);
}

.grid-5col-fr{
    grid-template-columns: repeat(5, 1fr);
}

.grid-6col-fr{
    grid-template-columns: repeat(6, 1fr);
}

.grid-7col-fr{
    grid-template-columns: repeat(7, 1fr);
}

.grid-8col-fr{
    grid-template-columns: repeat(8, 1fr);
}

.grid-span-2{
    grid-column:  span 2;
}

.grid-span-3{
    grid-column: span 3;
}

.grid-span-4{
    grid-column: span 4;
}

.grid-span-6{
    grid-column: span 6;
}

.grid-align-end{
    align-self: end;
}

.span-2{
    grid-column: span 2;
}

.block{
    display: block;
}

.w-fc{
    width: fit-content;
}

.w-100{
    width: 100%;
}

.w-90{
    width: 90%;
}

.w-25{
    width: 25%;
}

.w-100p{
    width: 100px;
}

.h-100{
    height: 100%;
}

.w-25p{
    width: 25px;
}


.center{
    margin: 0 auto;
}

.min-w-600{
    min-width: 600px;
}

.min-h-500{
    min-height: 500px;
}

.content{
    max-width: 65ch;
}

.gap{
    gap: .5rem;
}

.gap-sm{
    gap: .25rem;
}