.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.pi-1 {
  padding-inline: 0.25rem;
}
.pi-2 {
  padding-inline: 0.5rem;
}
.pi-3 {
  padding-inline: 0.75rem;
}

.pbk-1 {
  padding-block: 0.25rem;
}

.padding-sm{
    padding: 0.25rem;
}

.margin-b-sm{
    margin-bottom: 0.25rem;
}

.margin-b-lg{
    margin-bottom: 1rem !important;
}

.gap-sm{
    gap: .25rem;
}