$brown-100: hsl(0, 0%, 91%);
$brown-200: hsl(21, 20%, 60%);
$brown-300: hsl(21, 20%, 43%);
$brown-700: hsl(13, 47%, 17%);


$green-200: hsl(76, 32%, 73%);
$green-500: hsl(82, 39%, 30%);
$green-700: hsl(79, 48%, 17%);

$orange-200: hsl(27, 32%, 73%);

$white: hsl(13, 48%, 95%);
$off-white: hsl(40, 20%, 80%);

