
/******************************
/        Fonts
******************************/
@font-face{
    font-family: Eccentric;
    src:url(/systems/vaesen/fonts/EccentricStd.otf);
}

@font-face{
	font-family: BethEllen;
	src: url(/systems/vaesen/fonts/BethEllen-Regular.ttf);
}

@font-face{
	font-family: Albertus;
	src: url(/systems/vaesen/fonts/AlbertusMediumRegular.ttf);
}

@font-face{
	font-family: Baskerville;
	src: url(/systems/vaesen/fonts/LibreBaskerville-Regular.ttf);
}

@font-face{
	font-family: Lin;
	src: url(/systems/vaesen/fonts/LinLibertine_R.ttf);
}

@font-face{
	font-family: IntervogueBlack;
	src: url(/systems/vaesen/fonts/Intervogue_Black.otf);
}

@font-face{
	font-family: IntervogueReg;
	src: url(/systems/vaesen/fonts/Intervogue_Reg.otf);
}

@font-face{
	font-family: PicaItalic;
	src: url(/systems/vaesen/fonts/IMFellDoublePica-Italic.ttf);
}
@font-face{
	font-family: Pica;
	src: url(/systems/vaesen/fonts/IMFellDoublePica-Regular.ttf);
}

$type-scale: (
    small:(
        200: .7rem,
        300: 1rem,
        400: 1.125rem,
        500: 1.5rem,
        600: 1.9rem,
        700: 3rem,
        800: 4rem
    ),
    medium:(
        200: .8rem,
        300: 1rem,
        400: 1.3rem,
        500: 2rem,
        600: 2.5rem,
        700: 3.2rem,
        800: 4.5rem
    ),
    large:(
        200: .9rem,
        300: 1rem,
        400: 1.4rem,
        500: 2rem,
        600: 3rem,
        700: 4rem,
        800: 5.5rem)
    );