@use "../abstracts" as *;

h1, h2, h3, h4 {
   
    font-family: Albertus, serif;
    border-bottom: none;
    margin: 0 0 3px;
}

h1{
    font-size: var(--fs-500);
}

h2{
    font-size: var(--fs-400);
}

h3{
    font-size: var(--fs-300);
}

h4{
    font-size: var(--fs-200);
}

.color-brown-700{
    color: $brown-700;
}

.title-case{
    text-transform: capitalize;
}

.title{
    text-align: center;
  }